
.container {
	width: 740px;
	margin: auto;
	color:orange;
}

.main-header {
	height:110px;
	color: white;
	background: royalblue;
}

#main-content {
	padding: 20px;
	background: lightgray;
	height:800px;
}

#main-content {
	font-size: 21px;
	line-height: 1.5;
	margin-top: 32px;
}

.main-footer {
	height:100px;
	color:white;
	background:#222;
}

.base {
	padding-top:50px;
	color:white;
	text-align:center; 
}